<div class="editor-body">
    <h1>Редактор тура:</h1>

    <ul class="table">
        <li><a href="/edit/locations">Локации</a></li>
        <li><a href="/edit/transitions">Переходы</a></li>
        <li><a href="/edit/paths">Маршруты</a></li>
        <li><a href="/edit/questions">Вопросы</a></li>
        <li><a href="/edit/statistics">Статистика</a></li>
    </ul>
</div>
