<div class="editor-body">
    <h1>Редактор вопросов:</h1>

    <ul class="table">
        {{#each questions}}
        <li>
            <span> {{this.text}}</span>

            <span>
                <a href="/edit/question/{{this.id}}">изменить</a>
                <a href="#" class="js-remove red" data-id="{{this.id}}" data-type="question">удалить</a>
            </span>
        </li>
        {{/each}}
        <li><span></span><a href="/edit/question">добавить</a></li>
    </ul>
</div>
<script src='/javascripts/edit.js'></script>
